body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center
}

h1 {
    color: #800080;
}

h3 {
    color: #FFFFFF;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto }

div.centered {
    margin-left: 40%;
    margin-right: 40%;
    background: linear-gradient(rebeccapurple, white); }